<!-- channels.component.html -->
<div *ngFor="let channel of channels" class="card mb-3">
  <div class="card-header">
    <span class="fw-bold fs-2">{{ channel.nameChannel }}</span>
    <button *ngIf="channel.deletable" class="btn btn-danger btn-sm float-end">
      <i class="fas fa-trash"></i> Supprimer
    </button>

    <button *ngIf="channel.deletable" class="btn btn-primary btn-sm float-end me-2"
      (click)="onDeleteChannel(channel.id)">Modifier</button>
  </div>
  <div class="card-body">
    <div *ngFor="let post of channel.posts" class="post">
      <p class="post-message"> {{ post.message }}</p>
      <p class="post-date">posté le {{ post.datePost | date }}</p>
    </div>
  </div>
</div>
