<div *ngFor="let post of tabChannel.posts" class="post">
  <div class="mb-2">
    <p class="post-message fw-light">
      <span class="post-date text-muted">
        <span class="fw-bold">dame</span> posté le {{ post.datePost | date: 'dd MM yyyy à HH:mm' }}
      </span>
    </p>
    {{ post.message }}
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-warning btn-sm me-2" (click)="onEditPost(post.id)">
      <i class="fas fa-edit"></i>
    </button>
    <button class="btn btn-danger btn-sm" (click)="onDeletePost(post.id, post.message)">
      <i class="fas fa-trash"></i>
    </button>
  </div>

  <hr class="my-3">
</div>
